<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs389f20.diamonds">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BuildingSelectActivity"
            android:label = "@string/app_name"
            android:parentActivityName=".PropertySelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.cs389f20.diamonds.PropertySelectActivity" />
        </activity>
        <activity android:name=".PropertySelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label = "@string/app_name"
            android:parentActivityName=".BuildingSelectActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.cs389f20.diamonds.BuildingSelectActivity" />
        </activity>
    </application>

</manifest>